html {
  font-size: 16px;
}

body {
  font-weight: 300;
  font-size: 1.2rem;
}

h1 {
  font-weight: lighter;
}

a {
  color: #20b971;
}

.width-all {
  width: 90%;
  margin: 0 auto;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.modal-container .modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
}

.btn.btn-clear {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  color: #666;
  height: 2rem;
  margin-left: 0.3rem;
  opacity: 0.45;
  padding: 0;
}

.btn.btn-clear::before {
  content: "×";
  font-size: 2rem;
}

.over-hidd {
  overflow: hidden;
}

#pjs-sect,
.bg-prim,
.btn.bg-prim {
  background-color: #20b971;
}

#pjs-sect {
  min-height: 550px;
  background: -webkit-linear-gradient(-45deg, #20b971, #09a25a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, #20b971, #09a25a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-dark {
  background-color: #28464b;
}

.bg-light {
  background-color: #fffbfa;
}

.btn-primary,
.btn-primary:hover {
  background-color: #20b971;
}

.bg-sec {
  background-color: #49c6e5;
}

.bg-thr {
  background-color: #3ad38b; /* 8bd7d2 */
}

.bg-f {
  background-color: #8bd7d2;
}

.project-name {
  font-family: "Changa One", Helvetica;
  font-size: 10rem;
  font-weight: normal;
}

.project-name span {
  cursor: default;
}

.page-header {
  perspective: 900px;
  min-height: 900px;
}

.scroll-link {
  cursor: pointer;
}

.page-header a,
.project-name span,
.scroll-link {
  pointer-events: all;
}

.page-header .btn {
  min-width: 175px;
  transition: all 0.3s ease-out 0s;
  transform: rotateX(40deg);
  border-bottom-width: 5px;

  /* border-top-width: 1px; */
}

.page-header .btn:hover {
  transform: rotateY(0);
  border-bottom-width: 2px;

  /* border-top-width: 2px; */
}

.project-tagline {
  font-size: 1.5rem;
  margin-top: -25px;
  font-weight: lighter;
  opacity: 0.9;
}

.btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.form-comp {
  margin: 0 auto;
  width: 50%;
  min-width: 300px;
}

.demo-sect h1 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 2.5em;
  margin-top: 0;
}

.compare iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.comp-before,
.comp-after {
  min-height: 600px;
}

.comp-before,
.comp-after,
.sect-pad,
.multip {
  padding: 30px 30px 50px;
}

.compare label {
  color: white;
  font-size: 0.9em;
  line-height: 1.3rem;
}

.form-input,
.form-select,
.form-select:not([multiple]) {
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  height: 2rem;
}

.form-select:not([multiple]) {
  padding-right: 2.4rem;
}

.compare .form-input,
.compare .form-select {
  border: medium none;
}

.form-group:not(:last-child) {
  margin-bottom: 0.5rem;
}

form .btn {
  padding: 0.3rem 1rem;
}

.form-comp .btn {
  width: 100%;
}

.compare .desc,
.multip .desc {
  color: white;
  text-align: center;
}

.multi-cont {
  border-radius: 3px;
  overflow: hidden;
  margin: 50px auto;
  max-width: 900px;
}

.multi-cont .column {
  padding: 3rem 1rem;
}

.multip .cell1 {
  background-color: rgba(0, 0, 0, 0.03);
}

.multip .cell2 {
  background-color: rgba(0, 0, 0, 0.05);
}

.multip .cell3 {
  background-color: rgba(0, 0, 0, 0.07);
}

.multip .cell4 {
  background-color: rgba(0, 0, 0, 0.09);
}

.intro {
  padding: 6em 3em;
}

.intro-txt {
  text-align: center;
  font-size: 1.2rem;
  max-width: 800px;
}

.lead {
  font-size: 1.5rem;
}

.intro .lead {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1em;
}

footer.site-footer {
  border: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.text-love {
  color: #f04242;
}

.outr .btn {
  min-width: 175px;
}

.ddown-c {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.ddown-icon-c {
  margin: 0 auto 10px;
  width: 110px;
  line-height: 1.7rem;
}

#ddown-icon {
  -moz-osx-font-smoothing: grayscale;
  pointer-events: none;
  font-size: 30px;
  transform: rotate(-90deg);
}
